#!/usr/bin/env sh

su -l {{ jenkins_slave_user_name }} -c "/usr/bin/java -jar {{ jenkins_slave_dir }}/swarm-client-{{ jenkins_swarm_client_version }}.jar -name {{ jenkins_slave_name}} -fsroot {{ jenkins_slave_dir }} -username {{jenkins_master_username}} -password {{ jenkins_master_api_token }} -master {{ jenkins_master_url }} -executors {{ no_of_executors}} -disableSslVerification -retry {{ no_of_retries}} &"

exit 0
